body {
  font-family: "Arial";
  background-color: #171722;
  margin: 0;
}

h1 {
  color: #fff;
  letter-spacing: 1cap;
  padding-right: 20rem;
}

h2 {
  margin-top: 3rem;
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 650px;
}

li {
  background-color: #24273d;
  border: 2px solid #32354b;
  padding: 15px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  gap: 20px;
}

span {
  color: #eaeaea;
  font-size: 22px;
}

li span {
  cursor: pointer;
}

input[type="text"] {
  padding: 20px 90px; /* Aumentei o padding para 20px */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  background-color: #171722;
  color: #fff;
  font-size: 18px;
}

button {
  background-color: #631b83;
  color: #fff;
  border: none;
  padding: 15px 20px; /* Aumentei o padding para 15px */
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #441458;
}

button[type="submit"] {
  background-color: #3025af;
  margin-left: 5px;
}

button[type="submit"]:hover {
  background-color: #231b7a;
}

#buttonConfirm {
  margin-right: 10px;
}
